//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	padding: rem(13) rem(17) rem(17) rem(22);
	display: inline-block;
	background-color: $secondColor;
	color: #fff;
	font-weight: 600;
	font-size: rem(13);
	line-height: rem(15);
	letter-spacing: 0.02em;	
	@media (any-hover: hover) {
		&:hover {
		}
	}
	&._fw {
		width: 100%;
	}
}
