.page {

    // .page__aboute

    &__aboute {
        width: 100%;
        height: rem(600);
        background: url(../img/aboute/pic01.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.aboute {

    // .aboute__container

    &__container {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap: rem(33);
        @include adaptiveValue("padding-top",195 ,50 );
    }

    // .aboute__title

    &__title {
        font-weight: 800;
       @include adaptiveValue("font-size", 62,20 );
       @include adaptiveValue("line-height",73 ,35 );
        letter-spacing: 0.01em;
        color: #FFFFFF;
        
    }

    // .aboute__descr

    &__descr {
        font-weight: 600;
        font-size: rem(25);
        line-height: rem(29);
        
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }

    // .aboute__img

    &__img {
    }
}
.page-manufacturer {
}
.manufacturer {

    @include adaptiveValue("margin-top",100 ,20 );
		// .manufacturer__container

		&__container {
            display: flex ;
            justify-content: space-between;
            
		}

		// .manufacturer__left

		&__left {
            display: flex;
            flex-direction: column;
            gap: rem(35);
            @include adaptiveValue("padding-top",29 ,10 );
		}

		// .manufacturer__title

		&__title {
            font-weight: 800;
            font-size: rem(45);
            line-height:rem(53);
            letter-spacing: 0.01em;
            color: $color4;
            
		}

		// .manufacturer__descr

		&__descr {

            font-weight: 500;
            font-size: rem(16);
            line-height: rem(24);
            color: $color4;
            letter-spacing: 0.01em;
		}

		// .manufacturer__right

		&__right {
           
		}

		// .manufacturer__slider

		&__slider {
            width: rem(700);
            height: rem(472);
            position: relative;
            
		}
        &__image{ 

        }
		// .manufacturer__wrapper

		&__wrapper {
          
		}

		// .manufacturer__slide

		&__slide {
         
		}
        &__actions{
            position: absolute;
            left: rem(0);
            bottom: rem(0);
            background-color: $secondColor;
            display: flex;
            justify-content:center;
            align-items: center;
            gap: rem(33);
            padding: rem(11) rem(20) rem(13) rem(20);
        }
		// .manufacturer__blok

		&__blok {
            width: rem(700);
            height: rem(472);
            background: url(../img/aboute/slide01.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            
		}
}
.swiper {
}
.swiper-wrapper {

}
.swiper-slide {
}
.swiper-button-prev {

}
.swiper-button-next {
}
.page {

    // .page__autor

    &__autor {
    }
}
.autor {
@include adaptiveValue("margin-top", 90, 20);
@include adaptiveValue("margin-bottom", 90, 20);
@include adaptiveValue("padding-top",100 ,40 );
@include adaptiveValue("padding-bottom",90 ,40 );
background-color: #FBFBFB;
    // .autor__container

    &__container {
        display: flex;
        justify-content: space-between;

    }
    &__statistics{
        @include adaptiveValue("padding-bottom", 90, 20);
    }
    // .autor__left

    &__left {
        display: flex;
        gap:rem(42);
    }

    // .autor__image

    &__image {
        
    }

    // .autor__slider

    &__slider {
        width: rem(342);
        height: rem(493);
    }

    // .autor__wrapper

    &__wrapper {
        
    }

    // .autor__slide

    &__slide {
       
    }

    // .autor__blok

    &__blok {
        
    }

    // .autor__text

    &__text {
    }

    // .autor__title

    &__title {
        font-weight: 800;
        font-size: rem(32);
        line-height: rem(38);
        letter-spacing: 0.01em;
        color: $color4;
        @include adaptiveValue("padding-top", 31,15 );
    }

    // .autor__subtitle

    &__subtitle {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: rem(16);
        line-height: rem(21);
        letter-spacing: 0.01em;
        padding-top: rem(10);
    }

    // .autor__descr

    &__descr {
        font-style: italic;
        font-weight: 500;
        font-size: rem(15);
        line-height:rem(20);
        color: $color4;
        letter-spacing: 0.01em;
        display: flex;
        gap: rem(12);
        @include adaptiveValue("padding-top",25 ,15 );
        blockquote{
            padding-top: rem(25);
        }
     
    }

    // .autor__btn

    &__btn {
        background-color: inherit;
        color: $secondColor;
        border: 1.5px solid #337D5A;
        padding: rem(18) rem(44) rem(21) rem(45);
        font-weight: 700;
        font-size: rem(14);
        line-height: rem(16);
        letter-spacing: 0.02em;
        @include adaptiveValue("margin-top",60 ,20 );
    }

    // .autor__right

    &__right {
        max-width: rem(453);
        background-color: #337D5A;
        position: relative;
        padding-left: rem(47);
        padding-right: rem(33);
    }

    // .autor__history

    &__history {
        position: relative;
    }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.button {
}
.history {
    // .history__title

    &__title {
        font-weight: 800;
        font-size: rem(32);
        line-height: rem(38);
        letter-spacing: 0.01em;
        color: #FFFFFF;
        text-align: center;
        padding-top: rem(31);
        padding-bottom: rem(15);


    }

    // .history__descr

    &__descr {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: rem(14);
        line-height: rem(22);
        
        color: #FCFCFC;
        padding-top: rem(15);
    }

    // .history__img

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: rem(180);
        left: rem(180);
       
        
    }
}
.autor {

    // .autor__sial

    &__sial {
    }
}.sial{
    @include adaptiveValue("padding-top", 90,25 );
    background-color: #FBFBFB;
    &__title{
        font-weight: 800;
        font-size: rem(45);
        line-height: rem(53);
        letter-spacing: 0.01em;
        color: $color4;
        text-align: center;
    }
    &__subtitle{
        font-weight: 500;
        font-size: rem(18);
        line-height: rem(22);
        letter-spacing: 0.01em;
        color: $color4;
        text-align: center;
        padding-top: rem(25);
        @include adaptiveValue("padding-bottom", 65,25 );
    }
}


.spollers{
    @include adaptiveValue("margin-top",70 ,30 );
    
    &__item{

    }
    &__title{
        @include adaptiveValue("margin-bottom",100 ,20 );
        @include adaptiveValue("margin-left", 525,50 );
    }
}

.button-sp{
    background-color: inherit;
    color: $secondColor;
    border: 1.5px solid #337D5A;
    font-weight: 700;
    font-size: rem(14);
    line-height: rem(16);
    letter-spacing: 0.02em;
    padding: rem(19) rem(34);
    

    
}
.sial {

    // .sial__eco

    &__eco {
    }

    // .sial__container

    &__container {
        // position: relative;
        // z-index: 5;
        // display: flex;
        // justify-content:center;
        // align-items: center;
        // flex-direction: column;
        // @include adaptiveValue("padding-top",255 ,50 );
    }
}
.sial {

    // .sial__tree

    &__tree {
    }
}
.tree {
    position: relative;
    width: 100%;
    @include adaptiveValue("height",740 ,220 );

    // .tree__container

    &__container {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        position: relative;
        z-index: 2;
        @include adaptiveValue("padding-top",255 ,50 );;
    }

    // .tree__title

    &__title {
    @include adaptiveValue("font-size",45 ,25 );
    @include adaptiveValue("line-height",53 ,25 );
    letter-spacing: 0.01em;
    color: #FFFFFF;
    @include adaptiveValue("padding-top",42 ,20 );
    font-weight: 800;
    }

    // .tree__subtitle

    &__subtitle {
        font-weight: 500;
        @include adaptiveValue("font-size",22 ,12 );
        @include adaptiveValue("line-height",28 ,14 );
        text-align: center;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        padding-top: rem(15);

    }

    // .tree__slider

    &__slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    // .tree__wrapper

    &__wrapper {
    }

    // .tree__slide

    &__slide {
    }

    // .tree__blok

    &__blok {
    }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}



.aboute {

    // .aboute__news

    &__news {
    }
}
.information {
    @include adaptiveValue("padding-top",86 ,20 );
    background-color: rgba(249, 249, 249, 0.7);
    // .information__container

    &__container {
       
    }

    // .information__title

    &__title {
        font-weight: 800;
        @include adaptiveValue("font-size",45 ,20 );
        @include adaptiveValue("line-height",53 ,25 );
        letter-spacing: 0.01em;
        color: $color4;
    }

    // .information__blok

    &__blok {
        display: flex;
        justify-content: space-between;
    }

    // .information__subtitle

    &__subtitle {
        font-weight: 500;
        @include adaptiveValue("font-size",18 ,14 );
        @include adaptiveValue("line-height",22 ,18 );
        color: $color4;
        letter-spacing: 0.01em;
        @include adaptiveValue("padding-top",43 ,20 );
    }

    // .information__actions

    &__actions {
        background-color: $secondColor;
        padding: rem(15) rem(27) rem(15) rem(26);
        display: flex;
        gap: rem(30);
    }

    // .information__slider

    &__slider {
    }

    // .information__wrapper

    &__wrapper {
    }

    // .information__slide

    &__slide {
    }

    // .information__cards
    &__sp{
        @include adaptiveValue("margin-top",70 ,25   );
        @include adaptiveValue("margin-bottom",90 ,25 );
    }
    &__cards {
    display: flex;
    gap: rem(31);
    @include adaptiveValue("margin-top",71 ,20 );
    }
    &__cardss{
        display: flex;
        gap: rem(31);

    }
}
.swiper-button-prev {
    
}
.swiper-button-next {
    
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
// .bottom {

//     // .bottom__card

//     &__card {
//     }
// }
// .card {

//     // .card__data

//     &__data {
//     }

//     // .card__title

//     &__title {
//     }

//     // .card__descr

//     &__descr {
//     }

//     // .card__read

//     &__read {
//     }

//     // .card__text

//     &__text {
//     }

//     // .card__img

//     &__img {
//     }
// }
// .bottom1 {

//     // .bottom1__img

//     &__img {
//     }
// }
// .read {
// }
.spollers__title{
    font-weight: 700;
font-size: rem(15);
line-height: rem(18);
letter-spacing: 0.02em;
color: #337D5A;
border: 1.5px solid #337D5A;
padding: rem(17) rem(22) rem(17) rem(29);

}