.page {

    // .page__aboute

    &__aboute {
        width: 100%;
        height: rem(600);
        background: url(../img/aboute/pic01.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.aboute {

    // .aboute__container

    &__container {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap: rem(33);
        @include adaptiveValue("padding-top",195 ,50 );
    }

    // .aboute__title

    &__title {
        font-weight: 800;
       @include adaptiveValue("font-size", 62,20 );
       @include adaptiveValue("line-height",73 ,35 );
        letter-spacing: 0.01em;
        color: #FFFFFF;
        
    }

    // .aboute__descr

    &__descr {
        font-weight: 600;
        font-size: rem(25);
        line-height: rem(29);
        
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }

    // .aboute__img

    &__img {
    }
}
.page-manufacturer {
}
.manufacturer {

    @include adaptiveValue("margin-top",100 ,20 );
		// .manufacturer__container

		&__container {
            display: flex ;
            justify-content: space-between;
            
		}

		// .manufacturer__left

		&__left {
            display: flex;
            flex-direction: column;
            gap: rem(35);
            @include adaptiveValue("padding-top",29 ,10 );
		}

		// .manufacturer__title

		&__title {
            font-weight: 800;
            font-size: rem(45);
            line-height:rem(53);
            letter-spacing: 0.01em;
            color: $color4;
            
		}

		// .manufacturer__descr

		&__descr {

            font-weight: 500;
            font-size: rem(16);
            line-height: rem(24);
            color: $color4;
            letter-spacing: 0.01em;
		}

		// .manufacturer__right

		&__right {
           
		}

		// .manufacturer__slider

		&__slider {
            width: rem(700);
            height: rem(472);
            position: relative;
            
		}
        &__image{ 

        }
		// .manufacturer__wrapper

		&__wrapper {
          
		}

		// .manufacturer__slide

		&__slide {
         
		}
        &__actions{
            position: absolute;
            left: rem(0);
            bottom: rem(0);
            background-color: $secondColor;
            display: flex;
            justify-content:center;
            align-items: center;
            gap: rem(33);
            padding: rem(11) rem(20) rem(13) rem(20);
        }
		// .manufacturer__blok

		&__blok {
            width: rem(700);
            height: rem(472);
            background: url(../img/aboute/slide01.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            
		}
}
.swiper {
}
.swiper-wrapper {

}
.swiper-slide {
}
.swiper-button-prev {

}
.swiper-button-next {
}
.page {

    // .page__autor

    &__autor {
    }
}
.autor {
@include adaptiveValue("margin-top", 90, 20);
@include adaptiveValue("margin-bottom", 90, 20);
@include adaptiveValue("padding-top",100 ,40 );
@include adaptiveValue("padding-bottom",90 ,40 );
background-color: #FBFBFB;
    // .autor__container

    &__container {
        display: flex;
        justify-content: space-between;

    }
    &__statistics{
        @include adaptiveValue("padding-bottom", 90, 20);
    }
    // .autor__left

    &__left {
        display: flex;
        gap:rem(42);
    }

    // .autor__image

    &__image {
        
    }

    // .autor__slider

    &__slider {
        width: rem(342);
        height: rem(493);
    }

    // .autor__wrapper

    &__wrapper {
        
    }

    // .autor__slide

    &__slide {
       
    }

    // .autor__blok

    &__blok {
        
    }

    // .autor__text

    &__text {
    }

    // .autor__title

    &__title {
        font-weight: 800;
        font-size: rem(32);
        line-height: rem(38);
        letter-spacing: 0.01em;
        color: $color4;
        @include adaptiveValue("padding-top", 31,15 );
    }

    // .autor__subtitle

    &__subtitle {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: rem(16);
        line-height: rem(21);
        letter-spacing: 0.01em;
        padding-top: rem(10);
    }

    // .autor__descr

    &__descr {
        font-style: italic;
        font-weight: 500;
        font-size: rem(15);
        line-height:rem(20);
        color: $color4;
        letter-spacing: 0.01em;
        display: flex;
        gap: rem(12);
        @include adaptiveValue("padding-top",25 ,15 );
        blockquote{
            padding-top: rem(25);
        }
     
    }

    // .autor__btn

    &__btn {
        background-color: inherit;
        color: $secondColor;
        border: 1.5px solid #337D5A;
        padding: rem(18) rem(44) rem(21) rem(45);
        font-weight: 700;
        font-size: rem(14);
        line-height: rem(16);
        letter-spacing: 0.02em;
        @include adaptiveValue("margin-top",60 ,20 );
    }

    // .autor__right

    &__right {
        max-width: rem(453);
        background-color: #337D5A;
        position: relative;
        padding-left: rem(47);
        padding-right: rem(33);
    }

    // .autor__history

    &__history {
        position: relative;
    }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.button {
}
.history {
    // .history__title

    &__title {
        font-weight: 800;
        font-size: rem(32);
        line-height: rem(38);
        letter-spacing: 0.01em;
        color: #FFFFFF;
        text-align: center;
        padding-top: rem(31);
        padding-bottom: rem(15);


    }

    // .history__descr

    &__descr {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: rem(14);
        line-height: rem(22);
        
        color: #FCFCFC;
        padding-top: rem(15);
    }

    // .history__img

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: rem(180);
        left: rem(180);
       
        
    }
}
.autor {

    // .autor__sial

    &__sial {
    }
}
.sial{

    &__container{

    }
}




