// Заголовки, общие БЄМ блоки и проче...
.statistic {

    &__container{
        display: flex;
        justify-content: space-around;
        @media (max-width:$mobile){
             display: grid;
             grid-template-columns: repeat(2,1fr); 
             grid-template-rows: repeat(2,1fr);
             row-gap: rem(5);
             
        }
       
        
    }
    // .statistic__blok

    &__blok {
        display: flex;
        flex-direction: column;
        
        justify-content:center;
        align-items: center;

    }
    &__top{
        display: flex;
        
    }
    // .statistic__num

    &__num {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        @include adaptiveValue("font-size", 72 ,52 );
        @include adaptiveValue("line-height",88 ,60 );
        letter-spacing: 0.01em;
        color: $color4;
        padding-left: rem(20);
        @media (max-width:$mobile){
             font-size: rem(30); 
        }
    }
    &__span{
        font-weight: 900;
        font-size: rem(18);
        line-height: rem(21);
        letter-spacing: 0.05em;
        font-weight: 900;
        color: $color4;
        padding-top: rem(20);
        @media (max-width:$mobile){
             font-size: rem(10); 
             padding-top: rem(13);
        }
    }
    // .statistic__descr

    &__descr {
        font-weight: 400;
        font-size: rem(18);
        line-height: rem(21);
        text-align: center;
        letter-spacing: 0.02em;
        color:$color4;
        @media (max-width:$mobile){
             font-size: rem(10); 
            
        }
    }
}
///////////////////////////Galary///////////////////////////////@
.galery {

    // .sial__container

    &__container {
    }

    

    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: rem(22);
        line-height: rem(27);
        letter-spacing: 0.01em;
        color: #FFFFFF;

    }

  

    &__subtitle {

    }

  

    &__galery {
    }

  

    &__top {
        display: flex;
        gap: rem(31);
    }

   

    &__card-big {
        width: rem(739);
        height: rem(556);
        overflow: hidden;
        position: relative;
        transition: all 0.9s ;
        &:hover .galery__content{
            position: absolute;
             top: rem(0);
            transition: all 0.9s ;
            
        }
    }

   

    &__content {
        transition: all 0.3s ;  
        background: rgba(51, 125, 90, 0.97);
        opacity: 0.9;
        padding: rem(77) rem(216) rem(380) rem(39);
    }

   

    &__descr {
                
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: rem(15);
line-height: rem(22);
color: #FFFFFF;
padding-top: rem(25);
    }

 

    &__card-medium {
        width: rem(520);
        height: rem(556);
        overflow: hidden;
        position: relative;
        transition: all 0.3s ; 
        &:hover .galery__content{
            position: absolute;
            top: rem(0);
            transition: all 0.3s ;  
        }
    }
}
.galery {

    // .galery__inner

    &__inner {
        width: 100%;
        height: rem(556);
        position: relative;
    }

    // .galery__text

    &__text {
        z-index: 5;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include adaptiveValue("padding-top",235 ,70 );


    }

    // .galery__subtitle

    &__subtitle {
        font-family:Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size:rem(22);
        line-height: rem(27);
        letter-spacing: 0.01em;
        color: #FFFFFF;
        text-align: center;
        @include adaptiveValue("padding-top",30 ,15 );
        
    }

    // .galery__parag

    &__parag {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: rem(14);
        line-height: rem(21);
        text-align: center;
        color: #FFFFFF;
        @include adaptiveValue("padding-top",18 ,10 );
       
    }

    // .galery__slider

    &__slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    // .galery__wrapper

    &__wrapper {
    }

    // .galery__slide

    &__slide {
    }

    // .galery__image

    &__image {
    }
    &__icon{
       
       
    }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.galery {
display: flex;
flex-direction: column;
gap: rem(30);
    // .galery__bottom

    &__bottom {
    }

    // .galery__cards

    &__cards {
        display: flex;
        justify-content:space-between ;
    }

    // .galery__card-small

    &__card-small {
        position: relative;
        width: rem(409);
        height: rem(404);
        overflow: hidden;
        &:hover .galery__contents{
            position: absolute;
            top: rem(0);
            transition: all 0.3s ;  
        }
    }

    // .galery__contents

    &__contents {
        transition: all 0.3s ;  
        background: rgba(51, 125, 90, 0.97);
        opacity: 0.9;
        padding: rem(60) rem(40) rem(240) rem(40);
    }

    // .galery__title

    &__titles {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: rem(18);
        line-height: rem(20);
        letter-spacing: 0.01em;
        color: #FFFFFF;


    }

    // .galery__descr

    &__descrs {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: rem(13);
        line-height: rem(18);
        color: #FFFFFF;
        padding-top: rem(25)
    }
}

