.page {

    // .page__galary

    &__galary {
    }
}
.cadr {
    position: relative;
    // .cadr__container

    &__container {
        display: flex;
        flex-direction: column;

    }

    // .cadr__title

    &__title {
    }

    // .cadr__subtitle

    &__subtitle {
    }

    // .cadr__slider

    &__slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        
    }

    // .cadr__wrapper

    &__wrapper {
    }

    // .cadr__slide

    &__slide {

    }

    // .cadr__blok

    &__blok {
    }

    // .cadr__img

    &__img {
    }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
