.page {
@include adaptiveValue("padding-top",15 ,0 );
    // .page__main

    &__main {
    }
}
.slide__blok{
    width: 100%;
    height: rem(600);
    
    background-repeat: no-repeat;
    background-position: center;
   background-size: auto;
    @media (max-width:$mobile){
            background-position:top;
            height: 100vh;

    }
}
.main {

    // .main__page

    &__page {
        position: relative;
    }

    // .main__blok

    &__blok {
       position: relative;
       z-index: 2;
    }

    // .main__title

    &__title {
      font-weight: 800;
        @include adaptiveValue("font-size",62 ,30 );
        text-align: center;
        line-height: 73px;
        letter-spacing: 0.01em;

        color: #FFFFFF;
        
        
    }

    // .main__descr

    &__descr {
        font-weight: 500;
        @include adaptiveValue("font-size",25 ,12 );
        line-height: rem(29);
        text-align: center;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        
    }

    // .main__slider

    &__slider {
        position: absolute;
        width: 100%;
        top: 0;
        
    }

    // .main__wrapper

    &__wrapper {
    }

    // .main__slide

    &__slide {

     
    }
}
.main__img{
}
.main__image{
}
.blok {

    // .blok__container

    &__container {
        display: flex;
        flex-direction: column;
        @include adaptiveValue("gap",12 ,5 );
        align-items: center;
        @include adaptiveValue("padding-top",238 ,150 );
    }
}
.swiper {
}
.swiper-wrapper {
}

.photo{
    padding-top: rem(340);
    &__blok{
        @include adaptiveValue("width",740 ,500 );
        @include adaptiveValue("height",556 ,250 );
    }
}