.header {

	// .header__top

	&__top {
		background-color: rgba(245, 245, 245, 0.5);
		@include adaptiveValue("padding-top",10 ,5 );
		@include adaptiveValue("padding-bottom",10 ,5 );
		@media (max-width:$mobile){
			 z-index: 5; 
		}
	}

	// .header__container

	&__container {
		display: flex;

	}

	// .header__social

	&__social {
		display: flex;
		@include adaptiveValue("gap",18 ,10 );
		flex: 1 1 auto;
	}

	// .header__sale

	&__sale {
		color:$secondColor;
		font-family: Montserrat;
		font-weight: 600;
		font-size: rem(14);
		line-height: rem(17);
		@include adaptiveValue("padding-right", 275,200 );
		@media (max-width:$mobile){
			display: none; 
	   }
	}

	// .header__register

	&__register {
		display: flex;
		@include adaptiveValue("gap",25 ,10 );
	}

	// .header__lang

	&__lang {
		@include adaptiveValue("padding-left",50 ,25 );
	}

	// .header__inner

	&__inner {
	}

	// .header__logo

	&__logo {
		@media (max-width:$mobile){
			padding-left: rem(60);
		}
	}

	// .header__bg

	&__bg {
	}

	// .header__menu

	&__menu {
	}
}
.top {
}
.register {
	&__vh{
		display: flex;
		gap: rem(6);
		
		
	}
	&__icon{
		// width: rem(11);
		// height: rem(11);
		padding-top: rem(2);

	}
	// .register__input

	&__input {
		font-weight: 500;
		font-size: rem(13);
		line-height: rem(15);
		letter-spacing: 0.02em;
		color: #323232;
	}
}
.lang {

	// .lang__header

	&__header {
		font-weight: 500;
		font-size: rem(13);
		line-height: rem(15);
		letter-spacing: 0.02em;
	}
}
.inner {

	// .inner__container

	&__container {
		display: flex;
		@include adaptiveValue("padding-top",17 ,10 );
		@include adaptiveValue("padding-bottom",14 ,10 );
	}

	// .inner__logo

	&__logo {
		display: flex;
		@include adaptiveValue("gap",8 ,3 );
		align-items: flex-end;
		flex: 1 1 auto;
		z-index: 50;
		@media (max-width:$mobile){
			  
		}
	}

	// .inner__title

	&__title {
		font-style: normal;
		font-weight: 800;
		font-size: rem(15);
		line-height: rem(18);
		letter-spacing: 0.02em;
		color: $color4;
		
	}

	// .inner__social

	&__social {
		display: flex;
		@include adaptiveValue("gap",32 ,15 );
		@include adaptiveValue("padding-right",93 ,60 );
		padding-top: rem(10);
		@media (max-width:$mobile){
			 display: none; 
		}
		
	}

	// .inner__item

	&__item {
		display: flex;
		@include adaptiveValue("gap",10 ,8 );
	}
	&__icon{
		width: rem(31);
		height: rem(31);
		
	}

	// .inner__numbers

	&__numbers {
		display: flex;
		flex-direction: column;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: rem(13);
		line-height: rem(16)
		
	}

	// .inner__num

	&__num {

	}

	// .inner__actions

	&__actions {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 15,10 );
		@include adaptiveValue("padding-right", 65, 45);
		@media (max-width:$mobile){
			display: none; 
	   }
	}

	// .inner__bag

	&__bag {
		width: rem(24);
		height: rem(24);
		padding-top: rem(15);
		@media (max-width:$mobile){
			display: none; 
	   }
	}
}
.bag{
	
}
.social__icon{
	width: rem(13);
	height: rem(13);
	
}
.button {
}
.actions {

	// .actions__text

	&__text {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: rem(12);
		line-height: rem(15);
		letter-spacing: 0.02em;
		color: #8A8A8A;
	}
}
.bg {
	border: 1px solid rgba(0, 0, 0, 0.06);
	display: block;
	width: 100%;
	height: 1px;
// .bg__container

	&__container {
	}
}
.menu {
	
	// .menu__icon

	&__icon {
	}

	// .menu__body

	&__body {
		@media (max-width:$mobile){
			 position: fixed;
			 width: 100%;
			 height: 100%;
			 top: 0;
			 left: -100%;
			 transition: all 0.3s ease 0s;
			 overflow: auto;
			 padding-top: rem(100);
			 z-index: 50;
			  
		}
		.menu-open &{
			left: 0;
			
		}
		
	}

	// .menu__list

	&__list {
		display: flex;
		@include adaptiveValue("gap",67 ,30 );
		@include adaptiveValue("padding-left",75 ,30 );
		@include adaptiveValue("padding-top",23 ,13 );
		flex-wrap: wrap;
		@media (max-width:$mobile){
			 flex-direction: column; 
			 text-align: center;
			 background-color:$secondColor;
			 height: 100%;
			 padding-top: rem(60);
			 
			 
		}
	}

	// .menu__item

	&__item {
		
	}

	// .menu__link

	&__link {
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 0.02em;
		color: $color4;
		transition: all 0.3ms;
		@media (max-width:$mobile){
			font-size: rem(20); 
			color: #fff;
			
		}
		&:hover{
			transition: all 0.3ms;
			color: #337D5A;
			text-decoration: underline;
		}
	}
}
.icon-menu {
}
//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 100;
		margin-bottom: rem(20);
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

